/***** Reseteo *****/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 2px;
    overflow-x: hidden;
  }


/***** FIN Reseteo *****/

/**Estilos icono linkedin**/
.in-icono{
  width: 100px;
  height: 100px;
  padding-top: 5px;
  fill: blue;
}

/**Estilos para los demás iconos**/
.icono{
  width: 100px;
  height: 97px;
  padding-top: 5px;
  fill: blue;
}

.in-icono:hover{
  transform: scale(1.2);
  opacity: 0.8;
}

.icono:hover{
  transform: scale(1.2);
  opacity: 0.8;
}

/*****Estilos para el botón******/
.boton button{
  background-color: blue;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  }
  
  .boton button:hover {
    background-color: darkblue;
    cursor: pointer;
  }

  .boton{
    height: 96%;
    padding-left: 2px;
    padding-bottom: 1px;
  }

  /*Estilos para el logo*/
.logo-AP{
    width: 180px;
    height: 100%;
}
  .logo-AP img{
    width: 100%;
    height: 120%;
    padding-top: 7px; 
    padding-left: 5px;
    padding-bottom: 2px;
  }

  /*Estilos para definir el Header*/
  .container-header{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5DADE2; 
  }

  /*Estilos contenedor redes-boton*/
  .redes-boton{
    width: 87%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    
  }

  /*Estilos para el boton de sesión*/
  .container-header .redes-boton .boton{
    display: flex;
    align-items: flex-end;
  }

  /**********Estilos para el cuerpo de la SPA*********/
  .foto_banner{
  width: 100%;
  height: 35rem;
  
  }
  .foto_banner img {
  width: 100%;
  height: 35rem;
  background-size: cover;
  background-position: center;
  position: absolute;
  }

  /****Estilos acerca de mi****/
  .row{
  padding: 20px;
  background-color: #5DADE2;
  text-align: center;
  }

  /*Estilos para el nombre*/
#number{
  font-weight: bold;
  margin-top: 30%;
}

/*Estilos foto de perfil*/
@media(min-width: 576px){
  #fotoPerfil{
    position: absolute;
    width: 100%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;  
    left: 5%;
    bottom: 45%;
  }
}

/*Estilos foto de perfil*/
@media(max-width: 575px){
  #fotoPerfil{
    position: absolute;
    width: 28%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;  
    left: 37%;
   
  }
}

/************************************/
/******Estilos Experiencia***********/
/************************************/
.nombre_empresa{
  display: inline;
}
.lista{
  list-style: none;
}

/************************************/
/******Estilos hard y soft skills****/
/************************************/
.container-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
  background: #5DADE2;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.container .card{
  position: relative;
  width: 220px;
  height: 250px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .percent{
  position: relative;
  width: 150px;
  height: 150px;
  

}

.container .card .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.container .card .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}

.container .card .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num))/ 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn{

  0%{
  opacity: 0;
  }
  100%{
  opacity: 1;
  }
}

.dot{
  position: absolute;
  inset: 5px;
  z-index: 10;
  /*360deg / 100 = 3,6*/
  animation: animationDot 2s linear forwards;

}

@keyframes animationDot{

  0%
  {
  transform: rotate(0deg);
  }

  100%
  {
  transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);

  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr);
}

.number{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;

}

.number h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5em;
}

.number h2 span{
  font-weight: 300;
  color: #fff;
  font-size: 0.5em;
}

.number p{
font-weight: 200;
font-size: 0.55em;
letter-spacing: 2px;
text-transform: uppercase;
color: rgba(255,255,255,0.75);
}

.titulo-proyecto{
 text-align: left;

}

.titulo-progeso{
  font-weight: 300;
  font-family: sans-serif;
}

.container-proyectos{
 width: auto;
}
.parte1 .parte2{
  display: inline-block;
  text-align: justify;
}
.img-fluid{
 width: 100%;
 height: 100%;
 box-shadow: 10px 10px 5px #000;
 box-shadow: ejeX ejeY difumasion color;
}
.contenedor-pro{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

  